.btn-outline-primary {
color: #2980B9;
border-color: #2980B9;
}

.experience .m-2 .border.exp-fill {
background-color: #2980B9 !important;
}

.experience .col.border-right {
border-color: #2980B9 !important;
}

.experience .m-2 .border, .experience .col.border-right {
border-color: #2980B9 !important;
}
